.container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hot {
  color: red;
}

.cold {
  color: blue;
}

.humid {
  color: skyblue;
}

.dry {
  color: brown;
}
